{% include 'head.html' %}

  <main class="container">
    <section class="mt-3 pb-5">
      <h1 class="display-3 mt-4">{{ tour.title }} {{ tour.stars }}<sup>★</sup></h1>
      <!-- HERO -->
      <p class="lead">{{ tour.country }} {% for key,value in departures.items %}{% if key == tour.departure %}{{ value }}{% endif %}{% endfor %}
        {{ tour.nights }} ночей</p>
      <img src="{{ tour.picture }}" class="w-75" alt="">
      <p class="my-4 w-75">{{ tour.description }}</p>
      <a href="#" class="btn btn-success btn-lg">Купить тур за {{ tour.price }}</a>
    </section>
  </main>

{% include 'footer.html' %}